.orders{
 
    display: flex;
    justify-content: center;
    .container{
        width: 100%;
           padding: 50px 0px ;
        max-width: 1300px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .title{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        table{
            width: 100%;
            thead{
                th{
                    text-align: left;
                }
            }
          
            
           
        }
    }
}